<br><br><br>
<body class="body1">
<center>
  <div class="responsive">
      <div id="login1" class="row" >
        <%= form_tag sessions_path, :class => 'form-horizontal ' do |f| %>
          <div class="input-append" >
            <div class="field control-group" >
                <label class="control-label" for="inputEmail">Nombre de Usuario</label>
              <div class ="controls">
               <%= text_field_tag :username, params[:username] %>
               <span class="add-on"><i class="icon-user"></i></span>
              </div>
            </div>
            <div class="field control-group">
              <label class="control-label" for="inputEmail">Clave</label>
              <div class ="controls">
                <%= password_field_tag :password %>
                <span class="add-on"><i class="icon-lock"></i></span>
              </div>
            </div>
          </div> 
            <div class="control-group " ><%= submit_tag "Ingresar", :class => 'btn btn-info'  %></div>
      </div>
  </div>
</center>
</body>
<% end %>
