<%- model_class = Programa -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class='programa'>
 
  <p><b>Nombres:</b><%= @programa.nombre %></p>
</div>
