<%- model_class = Grupo -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>
<div class='grupo'>
  <p><b>Ficha: </b><%= @grupo.ficha %></p>
</div>