/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require lazybox
 *= require_tree .
 */

 #lazybox div.team { max-width: 500px; }

.lazybox {
  background: red !important;
}

#lazybox_close.img {
  background: url('close.png') no-repeat;
  width: 25px;
  height: 25px;
  top: -17px;
  right: -17px;
}

#lazybox.sticker {
  -webkit-border-bottom-left-radius: 20px 500px;
  -webkit-border-bottom-right-radius: 500px 30px;
  -webkit-border-top-right-radius: 5px 100px;
  -moz-border-radius-bottomleft: 20px 500px;
  -moz-border-radius-bottomright: 500px 30px;
  -moz-border-radius-topright: 5px 100px;
  border-radius-bottomleft: 20px 500px;
  border-radius-bottomright: 500px 30px;
  border-radius-topright: 5px 100px;
  border-bottom-left-radius: 20px 500px;
  border-bottom-right-radius: 500px 30px;
  border-top-right-radius: 5px 100px;
}

#lazybox.top {
  border-radius: 0px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
}

#lazybox.player {
  background: transparent;
  border: none;
  box-shadow: none;
}
/*= ESTILOS PERSONALIZADOS*/

/*estilo del inicio de sesion*/
/*inicio*/
  .login1 {

      width: 430px;
      padding: 8px;
      border: 2px solid red;
       color: #01DFD7;
      /*** Adding in CSS3 ***/
   
      /* *Esquinas redondeadas* */
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
   
      /* ==color de fondo del recuadro contenesdor de los campos de inicio de sesion */
      /* *configuracion para mozila* */
      background:  -moz-linear-gradient(19% 75% 90deg,#424242, #A4A4A4);
      /* *configuracion para chrome* */
      background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#424242), to(#A4A4A4));
   
      /*** ==sombra ***/
      /* *configuracion para mozila* */
      -moz-box-shadow:0px -5px 30px #000000;
      /* *configuracion para chrome* */
      -webkit-box-shadow:0px -5px 30px #000000;
  }
  
  .body1 {
  background-color: #6E6E6E;
}
/*fin*/

/*boton de cerrar sesion*/
#ser {
  vertical-align: right;
}

/*fin*/

#b {
  padding: 2% 2% 2% 2%;
} 

.cm{
  background-color: gray;
  color: white;
  -webkit-border-bottom-left-radius: 30px;
  -webkit-border-bottom-right-radius:30px;
  -webkit-border-top-left-radius:  30px;
  -webkit-border-top-right-radius:  30px;

  -moz-border-bottom-left-radius: 30px;
  -moz-border-bottom-right-radius:30px;
  -moz-border-top-left-radius:  30px;
  -moz-border-top-right-radius:  30px;
}
